
  .login-form {
    background-color: #fff;

    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .input-field {
    margin-bottom: 20px;
  }
  
  .input-field label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .input-field input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease-in-out;
  }
  
  .input-field input:focus {
    border-color: #00bcd4;
  }
  
  .btn-container {
    text-align: center;
    margin-top: 30px;
  }
  
  button[type="submit"] {
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #00bcd4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #008c9e;
  }